h1 {
    /* font-size: 1.8em;
    font-weight: 900;
    font-family: Calibri; */
    font: 900 1.8em 'Calibri';
}

.address {
    font-family: 'Calibri';
    font-weight: 500;
    color: rgba(100, 148, 237, 0.74);
    line-height: 1.3
}
span {
    text-transform: uppercase;
    font: 700 0.8em/0.5 'calibri';
    letter-spacing: 1px;
    line-height: .1;

}
a {
    color: orange;
    text-decoration: none;
    
}
a:hover{
    color: red;
}
a:active{
    color: black
}